* {
  margin: 0;
  padding: 0;
}

.App {

  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-direction: column;
}

body {
  background-color: snow;

}

.auth-image {

  
width: 50%;
height: 500px;
margin-top: -438px;
margin-left: 480px;

}

.login-image {

  
  width: 50%;
  height: 500px;
  margin-top: -358px;
  margin-left: 480px;
  
  }

.auth{
  margin-left: 65px;
}

.auth-card{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 500px;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}


.heading {
  margin-top: 100px;
  font-size: 25px;
}



.input-container {
  position: relative;
}


.input-container input {
  border: 1px solid gray;
  border-radius: 2px;
  position: relative;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 0px 10px;
}

.input-container label {
  font-weight: normal;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 1.5em;
  background-color: white;
  padding: 0 5px;
}



.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  left: 280px;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-eye:before {
  content: '\f06e'; 
}

.fa-eye-slash:before {
  content: '\f070'; 
}

.input-container .rememberme{

  width:15px;
  height:10px;
  
}


.submit-button{
  margin-top: 30px;
  padding: 6px 30px;
  margin-bottom: 20px;
  background-color: rgb(247, 199, 128);
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.login-link {
color: red;
text-decoration: none;
}


/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  .auth-image {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .login-image {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .auth-card {
    width: 90%;
    margin-top: 50px;
  }

  .heading {
    margin-top: 50px;
    font-size: 20px;
  }

  .input-container input {
    width: 80%;
  }

  .input-container label {
    font-size: 8px;
    left: 1em;
  }

  .password-toggle-icon {
    left: 75%;

  }

  .submit-button {
    margin-top: 40px;
    
  }

  .login-link {
    margin-left: 10px;
  }
}

/*Auth end*/




.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}


.nav-link:hover {
  text-decoration: none;
  border-bottom: 3px solid white;
}


.image-container {
  position: relative;
}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.hotel-image {
  width: 100%;
  height: auto;
}

.gym-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: 700px;
}
.poolside-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: 700px;
}

.spa-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: 700px;
}

.swimmingpool-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: 700px;
}

.resturant-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: 700px;
}


.text-container {

  position: absolute;
  top: 35%;
  right: 55%;
  color: white;

}
.gym-container {

  top:89%;
  right: 40%;
  position: absolute;
  background-color: white;
  width: 400px;
  text-align: center;
  color: rgb(12, 12, 82);
  font-weight: bold;
  font-size: 29px;
  
}

.poolside-container{
  
  top:89%;
  right: 35%;
  position: absolute;
  background-color: white;
  width: 600px;
  text-align: center;
  color: rgb(12, 12, 82);
  font-weight: bold;
  font-size: 29px;
  
}
.spa-container{
  
  top:89%;
  right: 35%;
  position: absolute;
  background-color: white;
  width: 600px;
  text-align: center;
  color: rgb(12, 12, 82);
  font-weight: bold;
  font-size: 29px;
  
}

.swimmingpool-container{
  
  top:89%;
  right: 35%;
  position: absolute;
  background-color: white;
  width: 600px;
  text-align: center;
  color: rgb(12, 12, 82);
  font-weight: bold;
  font-size: 29px;
  
}

.resturant-container{
  
  top:89%;
  right: 35%;
  position: absolute;
  background-color: white;
  width: 600px;
  text-align: center;
  color: rgb(12, 12, 82);
  font-weight: bold;
  font-size: 29px;
  
}


.facilities {

  text-align: center;

  color: rgb(12, 12, 82);


}

.facilities h1 {
  font-family: serif;
  font-size: 70px;

}

.facilities p {

  font-size: 30px;


}

/*facilities*/

.item-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 500px;
  width: 80%;
  margin: 0 auto; /* Center horizontally */
  border-radius: 25px;
  transition: 0.3s;
}

.room-view {

width: 30%;
height: 80%;
border-radius: 15px;
margin-top: 50px;
margin-left: 55px;
}

.room-name {

  margin-left: 35.5%;
  margin-top: -27%;
  color: rgb(83, 83, 83);
 

}

.description {
  margin-left: 35.5%;
  margin-top:-5%;
}

.book-button{

  margin-left: 35.5%;
  margin-top: 5%;
  padding: 18px 80px;
  background-color: rgb(247, 199, 128);
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;

}

.rating{
  margin-left: 36%;
  margin-top: 5%;

}

.star{

  margin-left: 15px;
  color: #316add;
  

}
.heart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 86%;
  background-color:rgb(244, 245, 255);
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.heart i {
  font-size: 70px;
  color: #696969;
}


/* Styles for smaller screens */
@media screen and (max-width: 767px) {
  .item-card {
    width: 90%; 
    height: auto;
    margin-top: 20px; 
  }

  .room-view {
    width: 100%; 
    height: auto;
    margin: 0; 
    margin-bottom: 56px;
    
  }

  .room-name,
  .description,
  .book-button,
  .rating {
    margin-left: 15px; 
    margin-top: 10px; 
    text-align: center; 
  }

  .heart {
    margin-left: 40%; 
  }
}

/*room bookings*/
.reserve-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 500px;
  width: 1500px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 25px;
  transition: 0.3s;
}

.reserve-button{

  margin-left: 79%;
  margin-top: 5%;
  padding: 20px 80px;
  background-color: rgb(247, 199, 128);
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;

}

.reserve-description{

    margin-left: 35.5%;
    margin-top:6%;
  
}

.inline {
  display: inline;
}

